**/target/
**/bin/
**/obj/
**/__pycache__/
**/*.egg-info/
.build/
**/build/
**/dist/
.env
.env.*
node_modules/
*.user
*.suo
.vs/
.DS_Store

# .NET / Visual Studio
.idea/
*.rsuser
*.userosscache
*.sln.docstates
TestResults/
coverage/
*.coverage
*.coveragexml
*.nupkg
*.snupkg
packages/
